*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

a{
    text-decoration: none;
}

:root{
    --logoclr:rgb(72, 26, 26);
    --font1: "Merienda", cursive;
    --font3: "Ephesis", cursive;
    --font2:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
/* .page{
    width: 100%;
} */
.box1{
    height: 40px;
    width: 100%;
    font-weight: 600;
  text-align: center;
  color: aliceblue;
  /* font-size: 20px; */
   padding: 10px 0px 0px 0px;
   font-family: var(--font2);
    background-color:var(--logoclr);
}

/* ===============logo and nav=========== */
.box2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    height: 50px;
   
    align-items: center;
    padding: 0px 30px 0px 30px;
}


.box2 .logo {
 font-family: var(--font1);
  color:var(--logoclr);
  text-shadow: 1px 0px 0px black;
  font-size: 30px;
  font-weight: 900;
}

.box2 .center ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-family: var(--font2);
    list-style:none;
    /* color: black; */
   

    
}

.box2 .center a{
    color: rgb(0, 0, 0,0.4);
    text-shadow: 1px 0px 0px black;
    
    
}

.box2 .center a:hover{
    color: black;
    font-size: 22px;
    border-bottom:3px solid black;
    transition: all 0.5s;
    
    text-shadow: 1px 0px 5px black(190, 186, 186);
}

.box2 .center ul li{
   
    padding: 0px 60px 0px 0px;
    font-size: 20px;
    color: black;
    /* width: 120px; */
    
}



.box2 .icon a{
    
    color: rgb(0, 0, 0,0.4);
    text-shadow: 1px 0px 0px black;
    
    
}

.box2 .icon a:hover{
    color: black;
    font-size: 22px;
    /* border-bottom:3px solid black; */
    /* transition: all 1s; */
    border-radius: 2px;
    text-shadow: 1px 0px 5px black(190, 186, 186);
}


.box2 .icon ul { 
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center ; */
    list-style:none;
}

.box2 .icon ul li{
    font-size: 25px;
    width: 70px;
}


.box3{
    background-image: url(./image/bg2.jpeg);
    background-position: center;
    background-size: cover;
    /* backdrop-filter: blur(50px); */
    
    background-attachment: fixed;
    width: 100%;
    height: 300px;
    
    text-shadow: 1px 1px 0px black;
   
}
.box3 p{
  
   /* border: 1px solid red; */
   text-align: center;
   
  position: relative;
  top: 40%;
 
    font-size: 60px;
    font-weight: 900;
    font-style: italic;
    color:black;
    

}

.box4 img{
   float: left;
    margin: 30px;
height: 400px;
width: 400px;
}

.box4 h3{
    /* margin: 50px; */
    padding-top: 40px;
    font-family: var(--font2);
    font-size: 28px;
    word-spacing: 5px;
color: var(--logoclr);

}

.box4 p{
    word-spacing: 7px;
    /* margin: 30px; */
    font-family: var(--font2);
    font-size: 18px;
}

.box4 ul{
    margin-top: 50px;
    backdrop-filter: blur(5px);
    background-image:url(./image/bg1.jpeg);
    background-position: center;
    background-size: cover;
    height: 200px;
    width: 100%;
    color: black;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15%;
    /* align-items: center; */
}

.box4 ul li{
 
    /* padding: 0px 30px 0px 20px; */
    width: 100px;
    font-weight: 700;
    /* text-align: center; */
    list-style: none;
    font-size: 30px;
}



/* ===============footer============ */
.box5{
    /* margin-top: 100px; */
    height:100%;
    width: 100%;
    background-color: var(--logoclr);
    color: white;
   
    /* font-size: 10px; */
}

.last{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    padding: 20px;
}

.last p a{
    color: white;
    font-family: var(--font1);
    font-size: 35px;
}

.last ul h1{
    font-size: 20px;
    /* border-bottom: 1px solid red; */
    padding: 15px 0px 10px 0px;
}
.last ul li{
    list-style: none;
    padding: 15px 0px 20px 10px;
}
.last ul li a{
    color:rgb(212, 208, 208);
    
   
}

.box6 h3{
    font-size: 20px;
    padding: 15px 0px 10px 0px;
}

.box6 input[type="text"]{
  height: 40px;
  width: 300px;
  outline:0;
  background-color: rgb(212, 208, 208);
    color:black;
    padding-left: 10px;
  margin: 15px 0px 10px 0px;
}

.box6 p{
    width: 300px;
    position: relative;
    left: -38px;
    color:rgb(212, 208, 208);

}

.box6 ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 20px;
    color:rgb(212, 208, 208);
}




.box5 hr{
    width: 100%;
    margin: auto;
   
}


.box5 p{
    padding: 10px 0px 0px 40px;
    color:rgb(212, 208, 208);
}





/* ================media query================== */




@media only screen and  (max-width:576px){
    /* ============top================ */
    .box1{
        height: 40px;
        width: 100%;
        font-weight: 600;
       text-align: center;
       /* font-size: 20px; */
       padding: 10px 0px 0px 0px;
       font-family: var(--font2);
    background-color:var(--logoclr)
    }

    /* ================logo and nav bar============ */
   
    .box2{
        display: block;
        /* flex-wrap: wrap; */
        /* justify-content:space-between; */
        height:300px;
      
        /* align-items: center; */
        /* padding: 0px 30px 0px 30px; */
    }
    
    
    .box2 .logo {
     font-family: var(--font1);
      color:var(--logoclr);
      text-shadow: 1px 0px 0px black;
      font-size: 30px;
      font-weight: 900;
    }
    
    .box2 .center ul{
        display: block;
        
        /* flex-wrap: wrap; */
        align-items: center;
        font-family: var(--font2);
        list-style:none;
        /* color: black; */
       
    
        
    }
    
    .box2 .center a{
        color: rgb(0, 0, 0,0.4);
        text-shadow: 1px 0px 0px black;
        
        
    }
    
    .box2 .center a:hover{
        color: black;
        font-size: 22px;
        border-bottom:3px solid black;
        transition: all 0.5s;
        
        text-shadow: 1px 0px 5px black(190, 186, 186);
    }
    
    .box2 .center ul li{
       
        padding: 25px 60px 0px 0px;
        font-size: 28px;
        color: black;
        /* width: 120px; */
        
    }
    
    
    
    .box2 .icon a{
        
        color: rgb(0, 0, 0,0.4);
        text-shadow: 1px 0px 0px black;
        
        
    }
    
    .box2 .icon a:hover{
        color: black;
        font-size: 22px;
        border-bottom:3px solid black;
        /* transition: all 1s; */
        border-radius: 2px;
        text-shadow: 1px 0px 5px black(190, 186, 186);
    }
    
    
    .box2 .icon ul { 
        display: flex;

        /* flex-wrap: wrap; */
        /* justify-content: center ; */
        list-style:none;
    }
    
    .box2 .icon ul li{
        font-size: 25px;
        padding: 40px 60px 0px 0px;
        /* width: 70px; */
    }
    
    
    .box3{
        background-image: url(./image/bg2.jpeg);

        background-position: center;
        background-size: cover;
        /* backdrop-filter: blur(50px); */
        
        background-attachment: fixed;
        width: 100%;
        height: 300px;
        
        text-shadow: 1px 1px 0px black;
       
    }
    .box3 p{
      
       /* border: 1px solid red; */
       text-align: center;
       
      position: relative;
      top: 40%;
     
        font-size: 60px;
        font-weight: 900;
        font-style: italic;
        color:black;
        
    
    }
    
    .box4 img{
       /* float: left; */
        margin-top: 30px;
    height: 200px;
    width: 200px;
    }
    
    .box4 h3{
        /* margin: 50px; */
        padding-top: 40px;
        font-family: var(--font2);
        font-size: 1rem;
        /* font-size: 10px; */
        word-spacing: 5px;
    color: var(--logoclr);
    
    }
    
    .box4 p{
        word-spacing: 7px;
        /* margin: 30px; */
        font-family: var(--font2);
        font-size: 18px;
    }
    
    .box4 ul{
        /* margin-top: 50px; */
        backdrop-filter: blur(5px);
        background-image:url(./image/bg1.jpeg);
        background-position: center;
        background-size: cover;
        height: 200px;
        width: 100%;
        color: black;
    
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    
    .box4 ul li{
         
        /* padding: 0px 15% 0px 0px; */
        width: 100%;
        font-weight: 700;
        text-align: center;
        list-style: none;
        font-size: 10px;
    }

  
/* ===============footer============ */
.box5{
    /* margin-top: 100px; */
    height: 100%;
    width: 100%;
    background-color: var(--logoclr);
    color: white;
   
    /* font-size: 10px; */
}

.last{
    display: block;
    /* flex-wrap: wrap; */
    /* gap: 5%; */
    padding: 20px;
}

.last p a{
    color: white;
    font-family: var(--font1);
    font-size: 35px;
}



.last ul h1{
    font-size: 20px;
    /* border-bottom: 1px solid red; */
    padding: 40px 0px 10px 0px;
}
.last ul li{
    list-style: none;
    padding: 10px 0px 20px 10px;
}
.last ul li a{
    color:rgb(212, 208, 208);
    
   
}

.box6 h3{
    font-size: 20px;
    padding: 15px 0px 10px 0px;
}

.box6 input[type="text"]{
  height: 40px;
  width: 300px;
  outline:0;
  background-color: rgb(212, 208, 208);
    color:black;
    padding-left: 10px;
  margin: 15px 0px 10px 0px;
}

.box6 p{
    width: 300px;
    position: relative;
    left: -38px;
    color:rgb(212, 208, 208);

}

.box6 ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 20px;
    color:rgb(212, 208, 208);
}




.box5 hr{
    width: 100%;
    margin: auto;
   
}


.box5 p{
   position: relative;
   right: 30px;
    color:rgb(212, 208, 208);
}
    
}




@media only screen and  (max-width:768px){
    /* ============top================ */
    .box1{
        height: 40px;
        width: 100%;
        font-weight: 600;
       text-align: center;
       /* font-size: 20px; */
       padding: 10px 0px 0px 0px;
       font-family: var(--font2);
    background-color:var(--logoclr)
    }

    /* ==========================logo and nav bar============== */

    .box2{
        display: block;
        /* flex-wrap: wrap; */
        /* justify-content:space-between; */
        height:300px;
      
        /* align-items: center; */
        /* padding: 0px 30px 0px 30px; */
    }
    
    
    .box2 .logo {
     font-family: var(--font1);
      color:var(--logoclr);
      text-shadow: 1px 0px 0px black;
      font-size: 30px;
      font-weight: 900;
    }
    
    .box2 .center ul{
        display: block;
        
        /* flex-wrap: wrap; */
        /* align-items: center; */
        font-family: var(--font2);
        list-style:none;
        /* color: black; */
       
    
        
    }
    
    .box2 .center a{
        color: rgb(0, 0, 0,0.4);
        text-shadow: 1px 0px 0px black;
        
        
    }
    
    .box2 .center a:hover{
        color: black;
        font-size: 22px;
        border-bottom:3px solid black;
        transition: all 0.5s;
        
        text-shadow: 1px 0px 5px black(190, 186, 186);
    }
    
    .box2 .center ul li{
       
        padding: 25px 60px 0px 0px;
        font-size: 28px;
        color: black;
        /* width: 120px; */
        
    }
    
    
    
    .box2 .icon a{
        
        color: rgb(0, 0, 0,0.4);
        text-shadow: 1px 0px 0px black;
        
        
    }
    
    .box2 .icon a:hover{
        color: black;
        font-size: 22px;
        border-bottom:3px solid black;
        /* transition: all 1s; */
        border-radius: 2px;
        text-shadow: 1px 0px 5px black(190, 186, 186);
    }
    
    
    .box2 .icon ul { 
        display: flex;

        /* flex-wrap: wrap; */
        /* justify-content: center ; */
        list-style:none;
    }
    
    .box2 .icon ul li{
        font-size: 25px;
        padding: 40px 60px 0px 0px;
        /* width: 70px; */
    }
    
    
    .box3{
        background-image: url(./image/bg2.jpeg);

        background-position: center;
        background-size: cover;
        /* backdrop-filter: blur(50px); */
        
        background-attachment: fixed;
        width: 100%;
        height: 300px;
        
        text-shadow: 1px 1px 0px black;
       
    }
    .box3 p{
      
       /* border: 1px solid red; */
       text-align: center;
       
      position: relative;
      top: 40%;
     
        font-size: 60px;
        font-weight: 900;
        font-style: italic;
        color:black;
        
    
    }
    
    
    .box4 img{
        /* display: block; */
       /* float: left; */
        margin-top: 30px;
    height: 200px;
    width: 200px;
    }
    
    .box4 h3{
        /* margin: 50px; */
        padding-top: 40px;
        font-family: var(--font2);
        font-size: 20px;
        word-spacing: 5px;
    color: var(--logoclr);

    
    }
    
    .box4 p{
        word-spacing: 7px;
        /* margin: 30px; */
        font-family: var(--font2);
        font-size: 18px;
    }
    
    .box4 ul{
        margin-top: 50px;
        /* backdrop-filter: blur(5px); */
        background-image:url(./image/bg1.jpeg);
        background-position: center;
        background-size: cover;
        height: 100px;
        width: 100%;
        color: black;
        display: flex;
        flex-wrap: wrap;
       justify-content: center;
        gap: 15%;
        align-items: center;
    }
    
    .box4 ul li{
        
        /* padding: 0px 30px 0px 20px; */
        width: 40px;
        font-weight: 700;
        text-align: center;
        list-style: none;
        font-size: 10px;
    }



   

/* ===============footer============ */
.box5{
    /* margin-top: 100px; */
    height: 100%;
    width: 100%;
    background-color: var(--logoclr);
    color: white;
   
    /* font-size: 10px; */
}

.last{
    display: block;
    /* flex-wrap: wrap; */
    /* gap: 5%; */
    padding: 20px;
}

.last p a{
    color: white;
    font-family: var(--font1);
    font-size: 35px;
}



.last ul h1{
    font-size: 20px;
    /* border-bottom: 1px solid red; */
    padding: 40px 0px 10px 0px;
}
.last ul li{
    list-style: none;
    padding: 10px 0px 20px 10px;
}
.last ul li a{
    color:rgb(212, 208, 208);
    
   
}

.box6 h3{
    font-size: 20px;
    padding: 15px 0px 10px 0px;
}

.box6 input[type="text"]{
  height: 40px;
  width: 300px;
  outline:0;
  background-color: rgb(212, 208, 208);
    color:black;
    padding-left: 10px;
  margin: 15px 0px 10px 0px;
}

.box6 p{
    width: 300px;
    position: relative;
    left: -38px;
    color:rgb(212, 208, 208);

}

.box6 ul{
    display: flex;
    flex-wrap: wrap;
    font-size: 20px;
    gap: 20px;
    color:rgb(212, 208, 208);
}




.box5 hr{
    width: 100%;
    margin: auto;
   
}


.box5 p{
    padding: 10px 0px 0px 40px;
    color:rgb(212, 208, 208);
}
}
